- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

- content_for :background do
  #five.bg1

#one.page-content
  .page-title
    %h1 CONTACT US
  .page-body
    %p.contact-form
      %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "365", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/r7p2s1/", :width => "100%", :border => "none"}       
