@import base

@import screen
@import portrait
@import landscape
@import mobile-480

// Media queries for responsive design
// These follow after primary styles so they will successfully override

@media all and (orientation:portrait)
	+portrait

@media all and (orientation:landscape)
	+landscape

// Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
@media screen and (max-device-width: 480px)
	+mobile-480


html
	margin: 0
	padding: 0
	background: $html-bg

body
	margin: 0
	padding: 0
	background: $body-bg
	//overflow: hidden

#bg1.bg1
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	background: url(/images/bg_2.jpg) no-repeat top center scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
#bg2.bg1
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	background: url(/images/bg_1.jpg) no-repeat top center scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
#bg4.bg1
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	background: url(/images/bg_4.jpg) no-repeat top center scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
#bg5.bg1
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	background: url(/images/bg_5.jpg) no-repeat top center scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover


#logo1
	@extend .box
	position: relative
	margin: $v-gap 240px
	a
		margin: 0
		padding: 0
		&:hover
			@extend .opaque
		img
			width: $logoW
			height: $logoH
			margin: 0
			padding: 0
			border: 0
			background: transparent
#topnav
	@extend .box
	position: relative
	width: 110px
	margin: $v-gap 0 $v-gap 110px
	//background: #000
	z-index: 22
	a
		@extend .box
		font-family: "EmbedFont-1"
		display: block
		margin: 4px 0
		padding: 6px 0 6px 10px
		color: $nav-text
		font-size: 13px
		font-weight: 200
		text-transform: uppercase
		text-decoration: none
		text-shadow: 1px 1px 1px #000
		border-left: 10px solid transparent
		&:hover
			color: $nav-text-hover
			border-left: 10px solid $primary
			background: #000
			
			
body.one a#one, body.two a#two, body.five a#five, body.four a#four, body.three a#three
	color: $primary !important
	text-decoration: none !important
	background: #000
	border-left: 10px solid $primary


.content
	@extend .box
	@extend .clearfix
	position: relative
	width: 600px
	//height: 1200px
	margin: -160px 0 40px 220px
	padding: 0
	
.page-content
	@extend .box
	@extend .clearfix
	@extend .corner-all
	position: relative
	left: 0
	width: 600px
	margin: 0
	padding: 15px 25px
	background: url(/images/nav_bg.png) repeat
	border: 1px solid #555
	.page-title
		position: relative
		margin: 0
		padding: 0
		color: #000
		h1
			position: relative
			margin: 0 0 10px 0
			padding: 0
			color: #fff
			font-family: "EmbedFont-1"
			font-size: 32px
			text-transform: uppercase
			text-shadow: 2px 2px 5px #000
			z-index: 11
	.page-body
		position: relative
		margin: 0
		padding: 0
		h2
			padding-left: .5em
			color: #aaa
			font-family: "EmbedFont-1"
			font-size: 15px
			text-shadow: 1px 1px 1px #000
			border-left: 3px solid $primary
		h3
			font-family: "EmbedFont-1"
			margin: 0 0 0 0
			padding: 0
			color: #fff
			font-size: 17px
			font-weight: 100
			line-height: 18px
			&:last-child
				margin-bottom: 0
		p
			@extend .font-trebuchet
			margin: 0 0 1em 0
			padding: 0
			color: #fff
			font-size: 12px
			font-weight: 100
			text-align: justify
			&:last-child
				margin-bottom: 0
.profile
	@extend .box
	@extend .clearfix
	position: relative
	margin: 0 0 ($v-gap) 0
	padding: 0
	img
		position: relative
		+float-right
		clear: none
		width: 125px
		height: 150px
		margin: 0 0 7px 20px
		border: 2px solid #000
	
	
	
.m3c-bar			
	@extend .font-helvetica
	position: fixed
	left: 0
	bottom: 0
	width: 100%
	height: 20px
	+clearfix
	color: $m3c-text
	background: url(/images/nav_bg.png) repeat
	font-size: 9px
	font-weight: 200
	text-transform: uppercase
	line-height: 1.4em
	letter-spacing: 1px
	border-top: 1px solid $m3c-border
	z-index: 100
	.copyright
		+float-left
		padding-left: 50px
		margin: 3px 0 0 0
		p
			font-size: 9px
			color: $m3c-text
	.powered-by
		+float-right
		padding-right: 50px
		margin: 3px 0 0 0
		p
			font-size: 9px
			color: $m3c-text
	a
		color: $m3c-link
		text-decoration: none
		&:hover
			color: $m3c-link-hover
			border-bottom: 0px solid $line-color
			text-decoration: none