- @title = " | My Team"
- @subtitle = ""
- @body_class = "two"

- content_for :background do
  #bg2.bg1

#one.page-content
  .page-title
    %h1 My Team
  .page-body
    .profile
      %img{:src => "/images/gore.jpg"}
      %h3.caps Christopher T. Gore
      %h2.caps Attorney at Law
      %p &nbsp;
      %p
        I am a Houston criminal defense lawyer, dedicated to serving my clients.
        %br
        If you find yourself in legal trouble, I make it my mission to be there for you and to guide you through the confusion of the criminal justice system.
      %p
        I know that results are what count in criminal matters, and you, the client, are the one who defines a positive result.
      %p
        I get results for my clients because I listen.
        %br
        I get to the heart of the matter and aggressively fight for your rights.                                                           
      %p
        I believe that each and every one of you matters regardless of the charge against you.
      %p
        Together we develop a strategy that best suits your specific needs.
        %br
        I give you the individual care, detailed preparation, and, most importantly, the aggressive execution that your case deserves.
      %p
        I can assist you with all criminal matters in Texas state courts, including all aspects of felony and misdemeanor charges.
      %p
        If you wonder if I might handle a certain type of case, just ask.
      %p
        Member, Harris County Criminal Defense Lawyers Association                                                                                         
        %br
        Member, Texas Criminal Defense Lawyers Association                                                                                     
        %br
        Member, Harris County Municipal Justice Bar Association

    .profile
      %img{:src => "/images/woodward.jpg"}
      %h3.caps Alisa Woodward
      %h2.caps Attorney at Law
      %p &nbsp;
      %p
        As a former Harris County Sheriff's Deputy with 11 years experience as a patrol officer, investigator, and undercover narcotics officer.  I am uniquely qualified to represent you in all criminal matters.  I have insider experience in how criminal investigations are conducted from the beginning to charges being filed.  This unique experience along with the knowledge I gained by attending the South Texas College of law has given me the tools to best defend you in the courtroom.
