- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

- content_for :background do
  #bg1.bg1

#one.page-content
  .page-title
    %h1 Home
  .page-body
    %p.caps
      Criminal Defense Attorney
      %br
      611 Houston Ave
      %br
      Houston, Texas 77007
      %br
      713-223-1600
      %span.small Phone
      %br
      713-223-0131
      %span.small Fax
      
    %p.center
      11 years of experience as an attorney                                                                                   
      %br
      %br
      Initial consultation is free.                                                                                                
      %br
      Call 713-223-1600
    %h3.caps.center
      Been Arrested? Don't Delay!
    %h3.center
      Speak with me directly by calling now.
      