- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

- content_for :background do
  #bg1.bg1

#one.page-content
  .page-title
    %h1 Home
  .page-body
    %p Gore Perrin PLLC. is a team of experienced Houston criminal defense lawyers who are highly professional and dedicated to serving you, our client. When you are in trouble, we make it our mission to be there for you and guide you seamlessly through the confusion of the criminal justice system. Gore Perrin PLLC. knows that results are what matter, and we never settle for less. We get our clients proven results.

    %p We have the knowledge, extensive years of experience and resources to win your case, and we get down to the core of the matter and aggressively fight your case until you are proven innocent. 

    %p We believe in listening to each and every one of our clients and providing each case with individual care, tireless work, detailed preparation, strategic development and most importantly - aggressive execution.

    %p We have extensive experience in all criminal matters, including: assault, drug-related charges, robbery, homicide, gun charges, DUI/DWI, theft, fraud, sex offenses and conspiracy.
