- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

- content_for :background do
  #bg1.bg1

#one.page-content
  .page-title
    %h1 Home
  .page-body
    %p Here is where you will present an overall image of your business. This information should highlight your most important and unique aspects. This brief introduction should give the user a clear understanding of what your business does, and why they should choose you over your competition.
    
    %p You can also tell the user about special services, products, or pricing offers that are currently being offered. Any additional information that you feel the user should definitely see should be presented on the home page.

