- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

- content_for :background do
  #one.bg1

#one.page-content
  .page-title
    %h1 We're on top of it
  .page-body
    %p Roof Troops is a full-service roofing and remodeling company that specializes in roofing, and all exterior and interior renovations for commercial and residential projects. Our team understands the aspects of construction, and we bring skill, product knowledge and creativity to all projects, large or small.
    
    %p By blending an eye for design with craftsmanship, we are able to make the dreams you have for your living space take form. Our excellent client communication, careful planning and designing produce successful projects and satisfied customers that stand the test of time.
  