- @title = " | About"
- @subtitle = ""
- @body_class = "two"

- content_for :background do
  #bg2.bg1

#one.page-content
  .page-title
    %h1 Dolor sit amet
  .page-body
    %p This section introduces the user to the people behind the business, and gives unique insight into who potential clients/customers will actually have contact with. 

    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
