- @title = " | About"
- @subtitle = ""
- @body_class = "two"

- content_for :background do
  #two.bg1

#one.page-content
  .page-title
    %h1 ABOUT US
  .page-body
    %p Roof Troops understands that choosing a contractor is a very important decision for the client. Roof Troops is highly-trained and certified by the Roofing Contractors Association of Canada in both residential and commercial roofing, and has served customers all over the Maritimes. We maintain a highly-experienced and reliable team that has proudly been serving the Nova Scotia area with the best quality roofing and interior/exterior restoration for over two decades.
    %p Our clients benefit from the exacting, sophisticated work that comes from our experience with completing hundreds of remodels. We have served customers all over the Maritimes and have gained an excellent reputation as the leading roofing/remodeling company when it comes to the quality of materials we choose and delivering an exemplary, dependable and timely project.
    %p We have the depth of experience, resources and financial strength to handle your needs. We get the job done, and we get it done right the first time because our mission is to provide our customers with the most reliable, detailed and dependable service.
