- @title = " | About"
- @subtitle = ""
- @body_class = "two"

- content_for :background do
  #bg2.bg1

#one.page-content
  .page-title
    %h1 Dolor sit amet
  .page-body
    %p Let Chris Gore represent you. Chris Gore has extensive years of legal experience representing clients charged with all kinds of crimes, ranging from minor traffic violations to multiple-offense DWI's. His long-time experience in criminal law, and his aggressive tactics coupled with his tireless work ethic combine to give you an excellent and prepared strategy so that you beat your case.
    
    %p Chris Gore goes through any and every avenue to keep your record clean, and his patience to hear your case and all of its specifics makes him a well-respected and quality lawyer.
    %p When it comes to your freedom, your name and your time, losing is not an option.
    
