- @title = " | Services & Fees"
- @subtitle = ""
- @body_class = "three"

- content_for :background do
  #bg4.bg1

#one.page-content
  .page-title
    %h1 Services &amp; Fees
  .page-body
    %h2 Services
    %p
      %b Representation on Criminal Matters
      %br
      DWI/DUI     Intoxication offenses
      %br
      Driving while license suspended/invalid   
      %br
      Possession of marijuana/possession of a controlled substance    
      %br
      Assault/assault of a family member 
      %br
      Sexual assault
      %br
      Gambling/gaming offenses
      %br
      White collar defense
      %br
      Theft/shoplifting/embezzlement/employee theft
      %br
      Evading arrest 
      %br
      Occupational/Restricted drivers' licenses:  Who is eligible and who is not? 
      %br
      Petitions for Nondisclosure/Expunction
      %br
      Motions to Adjudicate and Motions to Revoke Probation
      %br
      Juvenile offenses
    %h2 Fees
    %p "How much is this going to cost?" is the first question that almost every client asks.  The simplest answer is that the cost depends on what you want to have done.  Many attorneys generally set their flat fees based on their hourly rate multiplied by the number of hours they expect to spend working on your case.  
    %p Many clients go with the lowest fee, which sounds like a good deal until they find out that the fee probably does not include everything they expected it to cover.  "You get what you pay for" applies here.   
    %p Looking for the least expensive lawyer is probably not a very effective strategy if you're looking for a positive outcome.  Most people don't shop for the surgeon with the lowest fees.  
    %p Before offering a flat fee on any case, I sit down with you and discuss your needs and expectations.  The fee I quote is based on three factors: my experience, the time necessary to represent you, and the complexity of your case. 
    
      
     

