- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

- content_for :background do
  #bg4.bg1

#one.page-content
  .page-title
    %h1 Services
  .page-body
    %p Were you charged with a criminal offense? Fighting to keep your record free of a crime is a stressful and frightening situation to be in alone.  Whether you are facing a few days in jail or up to a lifetime behind bars, you need qualified, experienced and aggressive representation that you can trust. At Gore Perrin, we don't leave your freedom up to chance. We are dedicated to your case, your specific circumstances and we are committed to your successful outcome. 

    %p At Gore Perrin PLLC., a criminal conviction is an avoidable outcome: Our expert legal advice and strong criminal defense creates a team that makes certain your freedom and success is the only outcome.


    %p If you were pulled over in a traffic violation, arrested on a DWI or any criminal charges, you will need to handle your case with strong legal defense and support. At Gore Perrin, we aggressively fight to successfully protect your rights, your freedom and your future. Gore Perrin specializes in criminal defense, and we have years of experience successfully handling felonies, misdemeanors and charges from theft, drug-related crimes or assault.

    %h2 DWI Charges
    %p Chris Gore specializes in resolving DUI/DWI arrests so that charges get successfully dropped or reduced. First-time DWI arrests in Texas carry severe consequences, and if you have prior convictions it can result in a felony charge that damages your career or ability to get hired. With years of experience handling DWI cases, we aggressively challenge DWI arrests and go through any avenue it takes so that our client circumvents any jail time, and his record remains clean.

    %h2 Traffic Violations
    %p Driving on a suspended license, speeding or reckless driving could lead to criminal charges, but Gore Perrin is able to fight for your rights. 
    %p Contact Gore Perrin before you plead guilty or pay any fines.

    %h2 Assault
    %p Gore Perrin takes every detail of your case into account and listens to your side of events. We understand that assault charges on your record is a serious issue, and we are here to help you to develop an appropriate strategy that keeps your record free of these charges. In many cases, self-defense is an appropriate strategy, and if applicable can be discussed with your attorney at Gore Perrin, PLLC. Contact us today to discuss your options.
    %p Contact Gore Perrin before you plead guilty.
     

