- @title = " | Services"
- @subtitle = ""
- @body_class = "four"

- content_for :background do
  #four.bg1

#one.page-content
  .page-title
    %h1 OUR SERVICES
  .page-body
    %p Roof Troops provides a complete range of services to help maintain the integrity of your roofing system and exterior building envelope.
    %p
      &mdash; Poor Workmanship and Low Quality Installation Specifications
      %br
      &mdash; Weather/Exposure/Storm Damage 
      %br
      &mdash; Maintenance or Repair Neglect
      %br
      &mdash; Building Additions/Improvements/Change of building use
      %br
      &mdash; Contaminants/Biological Growth
      %br
      &mdash; Vandalism or Unintended Abuse
      %br
      &mdash; Thermal Expansion and Contraction, Building Movement & Settling
      %br
      &mdash; Animal Damage
